/*top_visual*/
#top_visual {
  background-color: powderblue;
  width: 100%;
  display: block;
  position: relative;
  height: 700px;
}

/*contetnts*/
.main_panel {
  position: relative;
  padding: 80px;
  width: 100%;
}

#page_panel1 {
  background-color: rgb(255, 116, 116);
  height: 800px;
}

#page_panel2 {
  background-color: rgb(255, 178, 34);
  height: 800px;
}

#page_panel3 {
  background-color: rgb(253, 221, 42);
  height: 800px;
}

#page_panel4 {
  background-color: rgb(142, 255, 170);
  height: 800px;
}

#page_panel5 {
  background-color: rgb(128, 255, 234);
  height: 800px;
}

#page_panel6 {
  background-color: rgb(78, 169, 255);
  height: 800px;
}

#page_panel7 {
  background-color: rgb(40, 44, 253);
  height: 800px;
}

#page_panel8 {
  background-color: rgb(122, 61, 163);
  height: 800px;
}