/*top_visual*/
#top_visual {
  background-color: powderblue;
  width: 100%;
  display: block;
  position: relative;
  height: auto;
}
#top_visual .visual_box {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
#top_visual .visual_box .bg {
  width: 100%;
  height: 400px;
  z-index: 11;
}
#top_visual .visual_box .bg img {
  width: 100%;
}
#top_visual .visual_box .text-wrap {
  width: 100%;
  height: auto;
  position: absolute;
}
#top_visual .visual_box .text_left img {
  width: 400px;
  height: auto;
  z-index: 15;
  margin: 0px 150px;
}

/*contetnts*/
.main_panel {
  position: relative;
  width: 100%;
}

#panel1_manybook {
  max-width: 100%;
  background-color: #fdfdfd;
  padding: 80px 0;
  height: auto;
}
#panel1_manybook .panel1_wrap {
  margin: 0 auto;
  overflow: hidden;
}
#panel1_manybook .panel1_wrap .text_wrap {
  margin-bottom: 60px;
}
#panel1_manybook .panel1_wrap h2 {
  text-align: center;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 24px;
  font-family: "Cafe24Ssurround";
}
#panel1_manybook .panel1_wrap p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  text-align: center;
  color: #555;
  font-family: "Cafe24Ssurround";
}
#panel1_manybook .panel1_wrap .bookslide_wrap {
  margin-top: 80px;
}
#panel1_manybook .panel1_wrap .bookslide_wrap .slide01 {
  height: 200px;
  background-image: url(../images/main/slide1.png);
  background-size: 3000px;
  -webkit-animation-name: slide-left;
          animation-name: slide-left;
  -webkit-animation-duration: 80s;
          animation-duration: 80s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#panel1_manybook .panel1_wrap .bookslide_wrap .slide02 {
  height: 200px;
  background-image: url(../images/main/slide2.png);
  background-size: 3000px;
  -webkit-animation-name: slide-right;
          animation-name: slide-right;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#panel1_manybook .panel1_wrap .bookslide_wrap .slide03 {
  height: 200px;
  background-image: url(../images/main/slide3.png);
  background-size: 3000px;
  -webkit-animation-name: slide-left;
          animation-name: slide-left;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes slide-left {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3000px;
  }
}
@keyframes slide-left {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3000px;
  }
}
@-webkit-keyframes slide-right {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0;
  }
}
@keyframes slide-right {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0;
  }
}

#panel2_unlimited {
  background-color: #fdfdfd;
  height: auto;
}
#panel2_unlimited .panel2_wrap {
  background-color: #fdfdfd;
}
#panel2_unlimited .panel2_wrap .text-wrap {
  margin-bottom: 60px;
}
#panel2_unlimited .panel2_wrap .text-wrap h2 {
  text-align: center;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 24px;
  font-family: "Cafe24Ssurround";
}
#panel2_unlimited .panel2_wrap .text-wrap p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  text-align: center;
  color: #555;
  font-family: "Cafe24Ssurround";
}
#panel2_unlimited .panel2_wrap .unlimited_wrap {
  margin-top: 80px;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist {
  margin: 32px auto;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist strong {
  display: block;
  font-weight: 700px;
  font-size: 20px;
  line-height: 28px;
  color: #242424;
  margin-bottom: 16px;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist .book-shelf {
  margin: 0 auto;
  height: auto;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist .book-shelf .slide-container {
  margin: 0;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist .book-shelf .slide-container .slide-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist .book-shelf .slide-container .slide-wrapper .slide-item {
  text-align: left;
  margin: 0px 1px;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist .book-shelf .slide-container .slide-wrapper .slide-item h3 {
  text-align: left;
  margin-top: 5px;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
  font-family: "Pretendard";
  letter-spacing: -0.6px;
  display: -webkit-box;
  -webkit-box-orient: inline-axis;
  -webkit-line-clamp: 2;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist .book-shelf .slide-container .slide-wrapper .slide-item h6 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  width: 90%;
  font-family: "Pretendard";
  margin-top: -7%;
  font-weight: 500;
}
#panel2_unlimited .panel2_wrap .unlimited_wrap .booklist .book-shelf .slide-container .slide-wrapper .slide-item img {
  width: 150px;
  height: 212px;
}

#panel3_categorize {
  background-color: #f7f7f7;
  height: auto;
}
#panel3_categorize .panel3_wrap {
  padding: 0;
}
#panel3_categorize .panel3_wrap .text-wrap {
  margin-bottom: 60px;
}
#panel3_categorize .panel3_wrap .text-wrap h2 {
  text-align: center;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 24px;
  font-family: "Cafe24Ssurround";
}
#panel3_categorize .panel3_wrap .text-wrap p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  text-align: center;
  color: #555;
  font-family: "Cafe24Ssurround";
}
#panel3_categorize .panel3_wrap .categorize_wrap {
  margin: 0 auto;
  padding: 0 0px;
}
#panel3_categorize .panel3_wrap .categorize_wrap .filter {
  overflow: hidden;
}
#panel3_categorize .panel3_wrap .categorize_wrap .filter .slide-container {
  padding: 0 4px;
}
#panel3_categorize .panel3_wrap .categorize_wrap .filter .slide-container .slide-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 0px;
  margin-bottom: 4px;
}
#panel3_categorize .panel3_wrap .categorize_wrap .filter .slide-container .slide-wrapper .slide_item {
  margin: 0 3px;
}
#panel3_categorize .panel3_wrap .categorize_wrap .filter .slide-container .slide-wrapper .slide_item button {
  font-size: 15px;
  background-color: transparent;
  overflow: hidden;
  padding: 3px 16px;
  display: block;
  border: 1.2px solid #242424;
  border-radius: 100px;
  font-family: "Pretendard";
}
#panel3_categorize .panel3_wrap .categorize-list {
  padding-top: 16px;
}
#panel3_categorize .panel3_wrap .categorize-list .book-shelf {
  margin: 0 auto;
}
#panel3_categorize .panel3_wrap .categorize-list .book-shelf .slide-container {
  margin-top: -16px;
}
#panel3_categorize .panel3_wrap .categorize-list .book-shelf .slide-container ul {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
#panel3_categorize .panel3_wrap .categorize-list .book-shelf .slide-container ul li {
  padding-top: 15px;
  width: 200px;
  height: auto;
}
#panel3_categorize .panel3_wrap .categorize-list .book-shelf .slide-container ul li img {
  width: 150px;
  padding: 10px 0px 0px 10px;
}
#panel3_categorize .panel3_wrap .categorize-list .book-shelf .slide-container ul li h3 {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
  font-family: "Pretendard";
  letter-spacing: -0.6px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#panel3_categorize .panel3_wrap .categorize-list .book-shelf .slide-container ul li h4 {
  text-align: center;
  font-size: 13px;
  max-height: 1.35em;
  margin-left: 10px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  color: rgb(160, 160, 160);
  margin-top: -15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#panel4_reading {
  position: relative;
  background-color: rgb(230, 230, 230);
  height: auto;
}
#panel4_reading .text-wrap {
  margin-bottom: 60px;
}
#panel4_reading .text-wrap h2 {
  text-align: center;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 24px;
  font-family: "Cafe24Ssurround";
}
#panel4_reading .text-wrap p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  text-align: center;
  color: #555;
  font-family: "Cafe24Ssurround";
}
#panel4_reading .reading-wrap {
  padding: 40px 24px 0;
}
#panel4_reading .reading-wrap .content-wrap {
  max-width: 834px;
  margin: 0 auto;
}
#panel4_reading .reading-wrap .content-wrap .card-wrap .card01 {
  left: -10%;
  top: 50%;
  position: absolute;
  max-width: 172px;
}
#panel4_reading .reading-wrap .content-wrap .card-wrap .card01 img {
  width: 172px;
}
#panel4_reading .reading-wrap .content-wrap .card-wrap .card02 {
  left: 0;
  top: 12%;
  position: absolute;
  max-width: 172px;
}
#panel4_reading .reading-wrap .content-wrap .card-wrap .card02 img {
  width: 172px;
}
#panel4_reading .reading-wrap .content-wrap .card-wrap .card03 {
  position: absolute;
  max-width: 172px;
  max-height: 172px;
  top: 12%;
  right: 0;
}
#panel4_reading .reading-wrap .content-wrap .card-wrap .card03 img {
  width: 172px;
}
#panel4_reading .reading-wrap .content-wrap .card-wrap .card04 {
  max-width: 172px;
  position: absolute;
  top: 50%;
  right: -10%;
}
#panel4_reading .reading-wrap .content-wrap .card-wrap .card04 img {
  width: 172px;
}
#panel4_reading .reading-wrap .content-wrap .background-wrap {
  position: relative;
}
#panel4_reading .reading-wrap .content-wrap .background-wrap .mock {
  position: relative;
  left: 53%;
  display: inline-block;
  transform: translate(-50%);
}
#panel4_reading .reading-wrap .content-wrap .background-wrap .mock img {
  width: 410px;
  height: auto;
}
#panel4_reading .reading-wrap .content-wrap .background-wrap .toolip {
  position: absolute;
  border-radius: 8px;
  top: 49%;
  left: 50%;
  transform: translate(-50%);
  min-height: 297px;
}
#panel4_reading .reading-wrap .content-wrap .background-wrap .toolip img {
  width: 417px;
  height: auto;
}

#panel5_price {
  background-color: #ffeb60;
  height: 800px;
}
#panel5_price .text-wrap {
  margin-bottom: 60px;
}
#panel5_price .text-wrap h2 {
  text-align: center;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 24px;
  font-family: "Cafe24Ssurround";
}
#panel5_price .text-wrap p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  text-align: center;
  color: #555;
  font-family: "Cafe24Ssurround";
}
#panel5_price .price-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  font-family: "Pretendard";
}
#panel5_price .price-wrap .price-list {
  display: flex;
  flex-direction: row;
}
#panel5_price .price-wrap .price-list li {
  margin: 0 20px;
}
#panel5_price .price-wrap .price-list li:first-child {
  width: 300px;
  height: 300px;
  background-color: #fff;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px;
}
#panel5_price .price-wrap .price-list li:first-child strong {
  font-weight: bold;
  font-size: 20px;
}
#panel5_price .price-wrap .price-list li:first-child .month {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
  color: #242424;
}
#panel5_price .price-wrap .price-list li:first-child .month span {
  font-size: 24px;
  margin-right: 6px;
}
#panel5_price .price-wrap .price-list li:first-child .month p {
  font-size: 40px;
  line-height: 1%;
  margin-right: 2px;
  font-family: "Cafe24Ssurround";
}
#panel5_price .price-wrap .price-list li:first-child .month b {
  font-size: 16px;
  font-family: "Pretendard";
}
#panel5_price .price-wrap .price-list li:first-child .year {
  margin: 16px 0 24px;
}
#panel5_price .price-wrap .price-list li:first-child .year .basic-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#panel5_price .price-wrap .price-list li:first-child .year .basic-price p {
  font-size: 18px;
  color: #6f6f6f;
  margin: 0 8px 0 24px;
  text-decoration: line-through;
}
#panel5_price .price-wrap .price-list li:first-child .year .basic-price img {
  max-width: 57px;
}
#panel5_price .price-wrap .price-list li:first-child .year .discount-price {
  display: flex;
  align-items: baseline;
}
#panel5_price .price-wrap .price-list li:first-child .year .discount-price span {
  font-size: 24px;
  margin-right: 6px;
}
#panel5_price .price-wrap .price-list li:first-child .year .discount-price p {
  font-size: 40px;
  line-height: 10%;
  margin-right: 2px;
  font-family: "Cafe24Ssurround";
}
#panel5_price .price-wrap .price-list li:first-child .year .discount-price b {
  font-size: 16px;
  font-family: "Pretendard";
}
#panel5_price .price-wrap .price-list li:last-child {
  width: 300px;
  height: 300px;
  background-color: #fff;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px;
}
#panel5_price .price-wrap .price-list li:last-child strong {
  font-weight: bold;
  font-size: 20px;
}
#panel5_price .price-wrap .price-list li:last-child .month {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
  color: #242424;
}
#panel5_price .price-wrap .price-list li:last-child .month span {
  font-size: 24px;
  margin-right: 6px;
}
#panel5_price .price-wrap .price-list li:last-child .month p {
  font-size: 40px;
  line-height: 1%;
  margin-right: 2px;
  font-family: "Cafe24Ssurround";
}
#panel5_price .price-wrap .price-list li:last-child .month b {
  font-size: 16px;
  font-family: "Pretendard";
}
#panel5_price .price-wrap .price-list li:last-child .year {
  margin: 16px 0 24px;
}
#panel5_price .price-wrap .price-list li:last-child .year .basic-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#panel5_price .price-wrap .price-list li:last-child .year .basic-price p {
  font-size: 18px;
  color: #6f6f6f;
  margin: 0 8px 0 24px;
  text-decoration: line-through;
}
#panel5_price .price-wrap .price-list li:last-child .year .basic-price img {
  max-width: 57px;
}
#panel5_price .price-wrap .price-list li:last-child .year .discount-price {
  display: flex;
  align-items: baseline;
}
#panel5_price .price-wrap .price-list li:last-child .year .discount-price span {
  font-size: 24px;
  margin-right: 6px;
}
#panel5_price .price-wrap .price-list li:last-child .year .discount-price p {
  font-size: 40px;
  line-height: 10%;
  margin-right: 2px;
  font-family: "Cafe24Ssurround";
}
#panel5_price .price-wrap .price-list li:last-child .year .discount-price b {
  font-size: 16px;
  font-family: "Pretendard";
}
#panel5_price .price-wrap .price-list .sub-info {
  font-size: 14px;
  line-height: 20px;
  color: #6f6f6f;
}
#panel5_price .price-wrap .refund-list {
  margin-left: 35px;
}
#panel5_price .price-wrap .refund-list li:first-child {
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#panel5_price .price-wrap .refund-list li:first-child img {
  max-width: 72px;
  margin-right: 24px;
  border-style: none;
  vertical-align: top;
  pointer-events: none;
}
#panel5_price .price-wrap .refund-list li:first-child p {
  font-size: 16px;
  line-height: 22px;
}
#panel5_price .price-wrap .refund-list li:last-child {
  padding-top: 16px;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#panel5_price .price-wrap .refund-list li:last-child img {
  max-width: 72px;
  margin-right: 24px;
  border-style: none;
  vertical-align: top;
  pointer-events: none;
}
#panel5_price .price-wrap .refund-list li:last-child p {
  font-size: 16px;
  line-height: 22px;
}

#panel6_content {
  background-color: #f7f7f7;
  height: auto;
}
#panel6_content .tap-wrap {
  background-color: #fff;
}
#panel6_content .tap-wrap ul {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
#panel6_content .tap-wrap ul li {
  cursor: pointer;
  padding: 54px 16px 33px;
  text-align: center;
  position: relative;
  flex: 1;
  border: none;
}
#panel6_content .introduce {
  display: flex;
  align-items: center;
  padding: 74px 90px;
  font-family: "Pretendard";
}
#panel6_content .introduce .text-wrap {
  flex: 1;
  margin-bottom: 30%;
  position: relative;
  min-width: 171px;
}
#panel6_content .introduce .text-wrap .audio {
  width: 44px;
  height: 44px;
}
#panel6_content .introduce .text-wrap h2 {
  font-size: 49px;
  line-height: 20%;
  font-weight: bold;
  letter-spacing: -0.6px;
}
#panel6_content .introduce .text-wrap p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  color: #777;
}
#panel6_content .introduce .text-wrap .p2 {
  padding: 200px 0px 0px 0px;
}
#panel6_content .introduce .text-wrap .tap_btn button {
  width: 50px;
  height: 25px;
  margin: 0 3px;
  border-radius: 50px;
  background: rgba(230, 230, 230, 0.1);
  border: 1px solid rgb(82, 82, 82);
}
#panel6_content .introduce .phone-wrap {
  box-sizing: border-box;
}
#panel6_content .introduce .phone-wrap .phone-shape {
  position: relative;
  overflow: hidden;
  z-index: 10;
  max-width: 330px;
  filter: drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.1));
}
#panel6_content .introduce .phone-wrap img {
  position: relative;
  z-index: 1000;
  width: 330px;
}
#panel6_content .introduce .phone-wrap .phone-contents {
  position: absolute;
  width: 330px;
  height: 670px;
  overflow: hidden;
  margin-top: -680px;
  z-index: 1;
  border-radius: 80px;
}

#panel7_review {
  padding: 160px 0 0 0;
  background-color: #f7f7f7;
  height: 500px;
}
#panel7_review .review-section-bg .review-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
#panel7_review .section-wrap {
  position: relative;
  padding: 0 202px 80px 162px;
  display: flex;
  margin-top: -500px;
}
#panel7_review .section-wrap .review-video {
  cursor: pointer;
  margin-top: -88px;
}
#panel7_review .section-wrap .text-wrap {
  padding-top: 80px;
  margin-left: auto;
}
#panel7_review .section-wrap .text-wrap h2 {
  text-align: center;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 24px;
  font-family: "Cafe24Ssurround";
}
#panel7_review .section-wrap .text-wrap p {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.6px;
  text-align: center;
  color: #555;
  font-family: "Cafe24Ssurround";
  font-family: "Pretendard";
}

#page_panel8 {
  background-color: rgb(255, 244, 96);
  height: auto;
  font-family: "Pretendard";
}
#page_panel8 .text-wrap {
  margin-bottom: 60px;
}
#page_panel8 .text-wrap h2 {
  text-align: center;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 24px;
  font-family: "Cafe24Ssurround";
}
#page_panel8 .qna-wrap {
  margin-top: 60px;
}
#page_panel8 .qna-wrap ul {
  max-width: 920px;
}
#page_panel8 .qna-wrap ul li {
  position: relative;
  margin-bottom: 16px;
  background: #fff;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 22px 24px 24px;
  overflow: hidden;
}
#page_panel8 .qna-wrap ul li .question {
  margin-top: -5px;
}
#page_panel8 .qna-wrap ul li .question p {
  margin-right: 33px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #242424;
}
#page_panel8 .qna-wrap ul li .question .down {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
}
#page_panel8 .qna-wrap ul li .answer {
  border-top: 1px solid #242424;
  margin-top: 20px;
}
#page_panel8 .qna-wrap ul li .answer p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #555;
  padding-top: 1px;
}