/*top_visual*/
#top_visual {
  background-color: powderblue;
  width: 100%;
  display: block;
  position: relative;
  height: 700px;
}

/*contetnts*/
.main_panel {
  position: relative;
  padding: 80px;
  width: 100%;
}

#panel1_manybook {
  max-width: 100%;
  border: 1px solid black;
  background-color: rgb(255, 116, 116);
  padding: 80px 0;
  height: auto;
}
#panel1_manybook .panel1_wrap {
  margin: 0 auto;
  overflow: hidden;
}
#panel1_manybook .panel1_wrap .text_wrap {
  margin-bottom: 60px;
}
#panel1_manybook .panel1_wrap h2 {
  text-align: center;
}
#panel1_manybook .panel1_wrap p {
  text-align: center;
}
#panel1_manybook .panel1_wrap .bookslide_wrap {
  margin-top: 80px;
}
#panel1_manybook .panel1_wrap .bookslide_wrap .slide01 {
  border: 1px solid wheat;
  background: url(/images/main/slide1.png) repeat-x;
}
#panel1_manybook .panel1_wrap .bookslide_wrap .slide02 {
  border: 1px solid wheat;
  background: url(/images/main/slide1.png) repeat-x;
}
#panel1_manybook .panel1_wrap .bookslide_wrap .slide03 {
  border: 1px solid wheat;
  background: url(/images/main/slide1.png) repeat-x;
}

#page_panel2 {
  background-color: rgb(255, 178, 34);
  height: 800px;
}

#page_panel3 {
  background-color: rgb(253, 221, 42);
  height: 800px;
}

#page_panel4 {
  background-color: rgb(142, 255, 170);
  height: 800px;
}

#page_panel5 {
  background-color: rgb(128, 255, 234);
  height: 800px;
}

#page_panel6 {
  background-color: rgb(78, 169, 255);
  height: 800px;
}

#page_panel7 {
  background-color: rgb(40, 44, 253);
  height: 800px;
}

#page_panel8 {
  background-color: rgb(122, 61, 163);
  height: 800px;
}