* {
  font-family: "Pretendard";
}

.page1 {
  border: 1px solid rgb(170, 170, 170);
  width: 1100px;
  height: auto;
}
.page1 .box1 {
  display: flex;
  font-family: "Pretendard";
}
.page1 .box1 .b_img {
  margin-top: 80px;
  margin-left: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16), 4px 8px 28px rgba(0, 0, 0, 0.08);
}
.page1 .box1 .b_img img {
  width: 100%;
  height: auto;
}
.page1 .box1 .b_tit {
  padding: 0 30px;
  margin-top: 80px;
  width: 80%;
  height: 200px;
}
.page1 .box1 .b_tit .tit {
  font-weight: bold;
  line-height: 10%;
}
.page1 .box1 .b_tit .tit h3 {
  letter-spacing: 0.6px;
}
.page1 .box1 .b_tit .aut {
  line-height: 0.1%;
  color: rgb(161, 161, 161);
}
.page1 .b_box {
  margin: 0 350px;
  margin-top: -100px;
  width: 60%;
  height: 15%;
  background-color: rgb(250, 248, 248);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08), 4px 8px 2px rgba(0, 0, 0, 0.02);
}
.page1 .b_box ul {
  display: flex;
  justify-content: space-evenly;
}
.page1 .b_box ul li {
  border-right: 1px solid rgb(192, 192, 192);
  padding: 5px 80px 5px 60px;
  cursor: pointer;
}
.page1 .b_box ul li img {
  margin-left: 20px;
  width: 35px;
  height: 20px;
}
.page1 .b_box ul li .li_img2, .page1 .b_box ul li .li_img3 {
  margin-right: 20px;
}
.page1 .b_box ul li h6 {
  text-align: center;
  margin-top: 5px;
  line-height: 5px;
  color: rgb(161, 161, 161);
  font-size: 10px;
}
.page1 .b_box ul li p {
  margin-top: -10px;
  line-height: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.page1 .page2 {
  height: auto;
  padding: 50px 20px 0 28px;
}
.page1 .page2 .box2 {
  display: flex;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08), 4px 8px 2px rgba(0, 0, 0, 0.02);
}
.page1 .page2 .box2 img {
  width: 30px;
  height: 25px;
  padding: 10px 0 0 20px;
}
.page1 .page2 .box2 p {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}
.page1 .page3 {
  padding: 0px 20px 0 28px;
}
.page1 .page3 .box3 h4 {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}
.page1 .page3 .box3 p {
  margin: 0 8px;
  color: rgb(161, 161, 161);
  font-size: 13px;
}
.page1 .page4 {
  padding: 0px 20px 0 28px;
}
.page1 .page4 .box4 {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03), 4px 8px 2px rgba(0, 0, 0, 0.01);
}
.page1 .page4 .box4 h4 {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}
.page1 .page4 .box4 p {
  margin: 0 8px;
  color: rgb(161, 161, 161);
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
  font-family: "Pretendard";
  letter-spacing: -0.6px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.page1 .page4 .box4 h5 .btn {
  display: block;
  text-align: right;
  padding: 15px 0 0 0;
  color: rgb(24, 24, 253);
  font-size: 14px;
}
.page1 .page5 {
  padding: 0px 20px 0 28px;
  height: auto;
}
.page1 .page5 .box5 {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08), 4px 8px 2px rgba(0, 0, 0, 0.06);
}
.page1 .page5 .box5 ul {
  background-color: rgba(240, 240, 240, 0.959);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.page1 .page5 .box5 ul h6 {
  padding: 0 30px;
  border-right: 1px solid rgb(143, 143, 143);
}
.page1 .page6 {
  padding: 50px 20px 0 28px;
}
.page1 .page6 .box6 ul {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.page1 .page6 .box6 ul li {
  cursor: pointer;
  width: 200px;
  margin: 0 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08), 4px 8px 2px rgba(0, 0, 0, 0.02);
  padding: 15px 15px;
  text-align: center;
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 14px;
}
.page1 .page6 .box6 ul li:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3), 4px 8px 2px rgba(0, 0, 0, 0.02);
}