.page1 {
  border: 1px solid rgb(170, 170, 170);
  width: 1100px;
  height: 500px;
}
.page1 .box1 {
  display: flex;
}
.page1 .box1 .b_img {
  margin-top: 80px;
  margin-left: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  border: 2px solid rgb(59, 59, 59);
}
.page1 .box1 .b_img img {
  width: 100%;
  height: auto;
}
.page1 .box1 .b_tit {
  margin-top: 80px;
  width: 80%;
  height: 200px;
  border: 2px solid rgb(59, 59, 59);
}
.page1 .b_box {
  margin: 0 300px;
  margin-top: -100px;
  width: 60%;
  height: 15%;
  border: 2px solid darkblue;
}