.page1 {
  border: 1px solid rgb(170, 170, 170);
  width: 1100px;
  height: 500px;
}
.page1 .box1 {
  display: flex;
  font-family: "Pretendard";
}
.page1 .box1 .b_img {
  margin-top: 80px;
  margin-left: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16), 4px 8px 28px rgba(0, 0, 0, 0.08);
}
.page1 .box1 .b_img img {
  width: 100%;
  height: auto;
}
.page1 .box1 .b_tit {
  padding: 0 30px;
  margin-top: 80px;
  width: 80%;
  height: 200px;
}
.page1 .box1 .b_tit .tit {
  font-weight: bold;
  line-height: 10%;
}
.page1 .box1 .b_tit .tit h3 {
  letter-spacing: 0.6px;
}
.page1 .box1 .b_tit .aut {
  line-height: 0.1%;
  color: rgb(161, 161, 161);
}
.page1 .b_box {
  margin: 0 300px;
  margin-top: -100px;
  width: 60%;
  height: 15%;
  border: 2px solid darkblue;
}