/* reset */
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
  letter-spacing: -1px;
}

img, a {
  border: 0px;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
