@charset "utf-8";

/*top_visual*/
#top_visual{
    background-color: powderblue;
    width: 100%; 
    display: block; 
    position: relative; 
    height: auto;

    .visual_box{
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;

        .bg {
            width: 100%;
            height: 400px;
            z-index: 11;
        }

        .bg img{
            width: 100%;
        }

        .text-wrap{
           width: 100%;
           height: auto;
           position: absolute;
        }

        .text_left img{
            width:400px; 
            height:auto;
            z-index: 15;
            margin: 0px 150px;
            
        }

    }
}

/*contetnts*/


.main_panel{
    position: relative;
    width: 100%; 
    
}

#panel1_manybook{
    max-width: 100%;
    // border: 1px solid black;
    background-color: #fdfdfd;
    padding: 80px 0;
    height:auto;

    .panel1_wrap{
        margin: 0 auto;
        overflow: hidden;

        .text_wrap{
            margin-bottom: 60px;
            
        }
    
        h2{
            text-align: center;
            font-size: 50px;
            line-height: 130%;
            letter-spacing: -0.01em;;
            color: #242424;
            margin-bottom: 24px;
            font-family: 'Cafe24Ssurround';
            

        }
        
        p{
            font-size: 22px;
            line-height: 160%;
            letter-spacing: -.6px;
            text-align: center;
            color: #555;
            font-family: 'Cafe24Ssurround';
        }
    
        .bookslide_wrap{
            margin-top: 80px;
    
            .slide01{
                height: 200px;
                background-image: url(../images/main/slide1.png);
                // border: 1px solid rgb(0, 0, 0);
                background-size: 3000px;
                animation-name: slide-left;
                animation-duration: 80s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                
                
             }
             .slide02{
                height: 200px;
                background-image: url(../images/main/slide2.png);
                //  border: 1px solid wheat;
                background-size: 3000px; 
                animation-name: slide-right;
                animation-duration: 100s;  
                animation-iteration-count: infinite;
                animation-timing-function: linear;
              }
              .slide03{
                height: 200px;
                background-image: url(../images/main/slide3.png);
                // border: 1px solid rgb(78, 131, 18);
                background-size: 3000px;
                animation-name: slide-left;
                animation-duration: 100s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
              }
              
              @keyframes slide-left{
                from{
                    background-position: 0px;
                }
                to{
                    background-position: -3000px;
                }
              }

              @keyframes slide-right {
                from{
                    background-position: -3000px;
                    
                }
                to{
                    background-position: 0;
                }
                
              }
        }
    
    }

    
   

}

#panel2_unlimited{
    background-color: #fdfdfd;
    height:auto;

    .panel2_wrap{
        background-color: #fdfdfd;

        .text-wrap{
             margin-bottom: 60px;

            h2{
                text-align: center;
                font-size: 50px;
                line-height: 130%;
                letter-spacing: -0.01em;;
                color: #242424;
                margin-bottom: 24px;
                font-family: 'Cafe24Ssurround';
                
    
            }
            
            p{
                font-size: 22px;
                line-height: 160%;
                letter-spacing: -.6px;
                text-align: center;
                color: #555;
                font-family: 'Cafe24Ssurround';
            }
        }

        .unlimited_wrap{
            margin-top: 80px;

            .booklist{
                margin: 32px auto;
                
                strong{
                    display: block;
                    font-weight: 700px;
                    font-size: 20px;
                    line-height: 28px;
                    color: #242424;
                    margin-bottom: 16px;
                }

                .book-shelf{
                    border: 2px solid firebrick;
                    margin: 0 auto;
                    height: auto;
                    
                    .slide-container{
                        margin: 0;
                        
                        .slide-wrapper{
                            display: flex;
                            justify-content:space-between;
                            flex-wrap: nowrap;
                        

                            .slide-item{
                                border: 1px solid black;
                                width: 300px;
                                height: 300px;

                                a{
                                    // white-space: nowrap;
                                    // text-overflow: ellipsis;
                                    // overflow: hidden;
                                    // font-size: 0.9vw; 
                                    
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

#panel3_categorize{
    border: 1px solid blue;
    background-color: #f7f7f7;
    height:800px;

    .panel3_wrap{
        padding: 0;
        

        .text-wrap{
            margin-bottom: 60px;

           h2{
               text-align: center;
               font-size: 50px;
               line-height: 130%;
               letter-spacing: -0.01em;;
               color: #242424;
               margin-bottom: 24px;
               font-family: 'Cafe24Ssurround';
            }
               
   
           
           
           p{
               font-size: 22px;
               line-height: 160%;
               letter-spacing: -.6px;
               text-align: center;
               color: #555;
               font-family: 'Cafe24Ssurround';
            }
        }

        .categorize_wrap{
            margin: 0 auto;
            padding: 0 30px;

            .filter{
                overflow: hidden;

                .slide-container{
                    padding: 0 24px;
                    
                    .slide-wrapper{
                        display: flex;
                        flex-wrap: nowrap;
                        padding-right: 24px;
                        margin-bottom: 4px;

                        .slide_item{
                            margin: 0 3px;

                            button{
                                font-size: 15px;
                                background-color: transparent;
                                overflow: hidden;
                                padding: 3px 16px;
                                display: block;
                                border: 1.2px solid #242424;
                                border-radius: 100px;
                                font-family: 'Pretendard';
                            }
                        }
                    }
                }
            }
        }

        .categorize-list{
            border: 1px solid black;
            padding-top: 16px;

            .book-shelf{
                margin: 0 auto;

                .slide-container{
                    margin-top: -16px;

                    .slide-wrapper{
                        display: flex;
                        justify-content: center;
                        flex-wrap: nowrap;

                        .slide_item{
                            border: 1px solid blue;
                            width: 150px;
                            height: 200px;
                            
                           
                        }
                    }
                }
            }
        }
    }
        

}

#panel4_reading{
    position: relative;
    background-color: rgb(230, 230, 230);
    height:auto;

    .text-wrap{
        margin-bottom: 60px;

       h2{
           text-align: center;
           font-size: 50px;
           line-height: 130%;
           letter-spacing: -0.01em;;
           color: #242424;
           margin-bottom: 24px;
           font-family: 'Cafe24Ssurround';
           

       }
       
       p{
           font-size: 22px;
           line-height: 160%;
           letter-spacing: -.6px;
           text-align: center;
           color: #555;
           font-family: 'Cafe24Ssurround';
       }
   }
   .reading-wrap{
    
        // border: 1px solid gold;
        padding: 40px 24px 0;
        

        .content-wrap{
            border: 5px solid brown;
           
            max-width: 834px;
            margin: 0 auto;
            

            .card-wrap{
                

                .card01{
                    left: -10%; top: 50%; 
                    border: 20px solid salmon;
                    position: absolute;
                    max-width: 172px;

                    img{
                        width:172px;
                    }
                }
                .card02{
                    border: 20px solid rgb(190, 166, 163);
                    left: 0;
                    top: 12%;
                    position: absolute;
                    max-width: 172px;

                    img{
                        width:172px;
                    }
                }
                .card03{
                    border: 20px solid gold;
                    position: absolute;
                    max-width: 172px;
                    max-height: 172px;
                    top: 12%;
                    right: 0;

                    img{
                        width:172px;
                    }
                }
                .card04{
                    border: 20px solid khaki;
                    max-width: 172px;
                    position: absolute;
                    top: 50%;
                    right: -10%;

                    img{
                        width:172px;
                    }
                }
            }

            .background-wrap{
                position: relative;

                .mock{
                    position: relative;
                    left: 53%;
                    display: inline-block;
                    transform: translate(-50%);

                    img{
                        width: 410px;
                        height: auto;
                    }

                }

                .toolip{
                    position: absolute;
                    border-radius: 8px;
                    top: 49%;
                    left: 50%;
                    transform: translate(-50%);
                    min-height: 297px;

                    img{
                        width: 417px;
                        height: auto;
                    }
                }
            }
        }


   }

}
#panel5_price{
    background-color: #ffeb60;
    height:800px;

    .text-wrap{
        margin-bottom: 60px;

       h2{
           text-align: center;
           font-size: 50px;
           line-height: 130%;
           letter-spacing: -0.01em;;
           color: #242424;
           margin-bottom: 24px;
           font-family: 'Cafe24Ssurround';
           

       }
       
       p{
           font-size: 22px;
           line-height: 160%;
           letter-spacing: -.6px;
           text-align: center;
           color: #555;
           font-family: 'Cafe24Ssurround';
           
       }
   }
    .price-wrap{
        display: flex;
        flex-direction: row;
        align-items:center;
        margin: 0 auto;
        font-family: 'Pretendard';

        .price-list{
            display: flex;
            flex-direction: row;

            li{
                margin: 0 20px;
            }

            li:first-child{
               
                width: 300px;
                height: 300px;
                background-color: #fff;
                box-shadow: 10px 10px 40px rgb(0 0 0 /10%);
                border-radius: 16px;
                padding: 32px;
                

                strong{
                    font-weight: bold;
                    font-size: 20px;
                    
                }

                .month{
                    display: flex;
                    align-items: baseline;
                    margin-top: 25px;
                    color: #242424;

                    span{
                        font-size: 24px;
                        margin-right: 6px;
                        
                    }

                    p{
                        font-size: 40px;
                        line-height: 1%;
                        margin-right: 2px;
                        font-family: 'Cafe24Ssurround'
                        
                    }

                    b{
                        font-size: 16px;
                        font-family: 'Pretendard';
                    }
                }
                .year{
                    margin: 16px 0 24px;

                    .basic-price{
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        p{
                            font-size: 18px;
                            color: #6f6f6f;
                            margin: 0 8px 0 24px;
                            text-decoration: line-through;
                        }

                        img{
                            max-width: 57px;
                        }
                    }
                    .discount-price{
                        display: flex;
                        align-items: baseline;

                        span{
                            font-size: 24px;
                            margin-right: 6px;
                        }
                        p{
                            font-size: 40px;
                            line-height: 10%;
                            margin-right: 2px;
                            font-family: 'Cafe24Ssurround'
                        }
                        b{
                            font-size: 16px;
                            font-family: 'Pretendard';
                        }
                    }

                }
            }

            li:last-child{
                width: 300px;
                height: 300px;
                background-color: #fff;
                box-shadow: 10px 10px 40px rgb(0 0 0 /10%);
                border-radius: 16px;
                padding: 32px;
                

                strong{
                    font-weight: bold;
                    font-size: 20px;
                    
                }

                .month{
                    display: flex;
                    align-items: baseline;
                    margin-top: 25px;
                    color: #242424;

                    span{
                        font-size: 24px;
                        margin-right: 6px;
                        
                    }

                    p{
                        font-size: 40px;
                        line-height: 1%;
                        margin-right: 2px;
                        font-family: 'Cafe24Ssurround'
                        
                    }

                    b{
                        font-size: 16px;
                        font-family: 'Pretendard';
                    }
                }
                .year{
                    margin: 16px 0 24px;

                    .basic-price{
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        p{
                            font-size: 18px;
                            color: #6f6f6f;
                            margin: 0 8px 0 24px;
                            text-decoration: line-through;
                        }

                        img{
                            max-width: 57px;
                        }
                    }
                    .discount-price{
                        display: flex;
                        align-items: baseline;

                        span{
                            font-size: 24px;
                            margin-right: 6px;
                        }
                        p{
                            font-size: 40px;
                            line-height: 10%;
                            margin-right: 2px;
                            font-family: 'Cafe24Ssurround'
                        }
                        b{
                            font-size: 16px;
                            font-family: 'Pretendard';
                        }
                    }
                }    
            }

            .sub-info{
                font-size: 14px;
                line-height: 20px;
                color: #6f6f6f;
            }     
        }
        .refund-list{

            margin-left: 35px;

            li:first-child{
                padding-bottom: 16px;
                border-bottom: 1px solid #fff;
                display: flex;
                flex-direction: row;
                align-items: center;

                img{
                    max-width: 72px;
                    margin-right: 24px;
                    border-style: none;
                    vertical-align: top;
                    pointer-events:  none;
                }

                p{
                    font-size: 16px;
                    line-height: 22px;
                }

            }
            li:last-child{
                padding-top: 16px;
                border-bottom: 1px solid #fff;
                display: flex;
                flex-direction: row;
                align-items: center;

                img{
                    max-width: 72px;
                    margin-right: 24px;
                    border-style: none;
                    vertical-align: top;
                    pointer-events:  none;
                }

                p{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}
#page_panel6{
    background-color: rgb(78, 169, 255);
    height:800px ;
}
#page_panel7{
    background-color: rgb(40, 44, 253);
    height:800px ;
}
#page_panel8{
    background-color: rgb(122, 61, 163);
    height:800px ;
}
