@charset "utf-8";

/*top_visual*/
#top_visual{
    background-color: powderblue;
    width: 100%; 
    display: block; 
    position: relative; 
    height: auto;

    .visual_box{
        border: 10px solid white;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;

        .bg {
            width: 100%;
            height: 500px;
            z-index: 11;
        }

        .bg img{
            width: 100%;
        }

        .text-wrap{
           width: 100%;
           height: auto;
           position: absolute;
           
        }

        .text_left img{
            width:500px; 
            height:auto;
            z-index: 15;
            margin: 0 150px;
            
        }

    }
}

/*contetnts*/


.main_panel{
    position: relative;
    width: 100%; 
}

#panel1_manybook{
    max-width: 100%;
    border: 1px solid black;
    background-color: rgb(255, 116, 116);
    padding: 80px 0;
    height:auto;

    .panel1_wrap{
        margin: 0 auto;
        overflow: hidden;

        .text_wrap{
            margin-bottom: 60px;
        }
    
        h2{
            text-align: center;
        }
        
        p{
            text-align: center;
        }
    
        .bookslide_wrap{
            margin-top: 80px;
    
            .slide01{
                border: 1px solid wheat;
                 background: url(/images/main/slide1.png) repeat-x;
                 animation-delay: 0s;
                 animation-direction: normal;
                 animation-duration: 100s;
                 animation-fill-mode: none;
                 animation-iteration-count: infinite;
                 animation-name: slideRight-data-v-003e81a0;
                 animation-play-state: running;
                 animation-timing-function: cubic-bezier(0.73,0.82,1,2.88);
                
             }
             .slide02{
                 border: 1px solid wheat;
                  background: url(/images/main/slide1.png) repeat-x;
              }
              .slide03{
                 border: 1px solid wheat;
                  background: url(/images/main/slide1.png) repeat-x;
              }
        }
    
    }

    
   

}

#panel2_unlimited{
    background-color: rgb(255, 178, 34);
    height:auto;

    .panel2_wrap{
        background-color: white;

        .text-wrap{
            margin-bottom: 60px;

            h2{
                text-align: center;
            }

            p{
                text-align: center;
            }
        }

        .unlimited_wrap{
            margin-top: 80px;

            .booklist{
                margin: 32px auto;
                
                strong{
                    display: block;
                    font-weight: 700px;
                    font-size: 20px;
                    line-height: 28px;
                    color: #242424;
                    margin-bottom: 16px;
                }

                .book-shelf{
                    border: 2px solid firebrick;
                    margin: 0 auto;
                    height: auto;
                    
                    .slide-container{
                        margin: 0;
                        
                        .slide-wrapper{
                            display: flex;
                            justify-content:space-between;
                            flex-wrap: nowrap;
                        

                            .slide-item{
                                border: 1px solid black;
                                width: 300px;
                                height: 300px;
                            }

                        }
                    }
                }
            }
        }
    }
}

#page_panel3{
    background-color: rgb(253, 221, 42);
    height:800px ;
}
#page_panel4{
    background-color: rgb(142, 255, 170);
    height:800px ;
}
#page_panel5{
    background-color: rgb(128, 255, 234);
    height:800px ;
}
#page_panel6{
    background-color: rgb(78, 169, 255);
    height:800px ;
}
#page_panel7{
    background-color: rgb(40, 44, 253);
    height:800px ;
}
#page_panel8{
    background-color: rgb(122, 61, 163);
    height:800px ;
}
