@charset "utf-8";


.page1{
    border: 1px solid rgb(170, 170, 170);
    width: 1100px;
    height: 500px;
    
    .box1{
        display: flex;
        font-family: 'Pretendard';

        .b_img{
            margin-top: 80px;
            margin-left: 30px;
            width: max-content;
            height: auto;
            box-shadow: 0 4px 12px rgb(0 0 0 /16%),4px 8px 28px rgb(0 0 0 /8%);
            
            img{
                width:100%;
                height: auto;
            }
        }
        .b_tit{
            padding: 0 30px;
            margin-top: 80px;
            width: 80%;
            height: 200px;
            
            .tit{
                font-weight: bold;
                line-height: 10%;

                h3{
                    letter-spacing: 0.6px;
                }
            }
            .aut{
                line-height: 0.1%;
                color: rgb(161, 161, 161);
            }

            
        }
    }

    .b_box{ 
        margin: 0 300px;
        margin-top: -100px;
        width: 60%;
        height: 15%;
        border: 2px solid darkblue;
    }
}